@mixin clearfix{
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin abscenter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

//media query
/*
0-600px: phone
600px-900px : tablet portrait
900-1200px: tablet landscape
1200-1800px: norml desktop
1800 + : big desktop
*/

/*
$breakpoint:
-phone
-tab-por
-tab-land
-big-desktop
*/


//1em=16px
@mixin responsive($breakpoint){
  @if $breakpoint == phone {
    @media (max-width:37.5em) {//600px
        @content
    };
  }
  @if $breakpoint == tab-por {
    @media (max-width:56.25em) {//900px
        @content
    };
  }
  @if $breakpoint == tab-land {
    @media (max-width:75em) {//1200px
        @content
    };
  }
  @if $breakpoint == big-desktop {
    @media (min-width:112.5em) {//1800px
        @content
    };
  }
}